.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.title {
    padding: 2rem;
}

.title h1{
    font-weight: 500;
    font-size: 1.5rem;
}

.inputs{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.input p{
    font-weight: 500;
}

.eliminar{
    color: #fff;
}
